/* фон #18262F
    зеленый светлый #50BD05
    зеленый темный #368C00 */

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    margin: 0;
    background-color: #0e161b;

    font-family: 'Inter';
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald';
    color: #50BD05;
    font-size: 2em;
}

header,
#menu {
    background-color: #18262F;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    height: 70px;
    margin-bottom: 1em;
}

header #logo {
    width: 60px;
    aspect-ratio: 1/1;
    margin: 0 1em;
}

header #logo img {
    width: 100%;
    height: 100%;
}

header #home {
    position: absolute;
    top: 15%;
    left: 1em;    

    padding: 1em;
    border-radius: 12px;

    color: white;
    text-decoration: none;
    font-weight: bolder;

    background-color: #50BD05;
    
    transition: 0.3s;
}

header #home:hover {
    background-color: #368C00;
}

#map,
#overview {
    position: relative;

    width: fit-content;
    margin: 0 auto;
}

#map {
    height: calc(100vh - 120px);
}

#map-img {
    height: 100%;
    border-radius: 16px;
}

.pin {
    position: absolute;

    width: 60px;
    aspect-ratio: 1/1;

    background-image: url('../res/icon/pin.png');
    background-size: contain;
    cursor: pointer;

    transition: 0.3s;
}

.pin:hover {
    width: 70px;
    transform: translate(-5px, -10px);
}

#pin_1 {
    top: 60px;
    left: 318px;
}

#pin_2 {
    top: 372px;
    left: 967px;
}

#pin_3 {
    top: 394px;
    left: 737px;
}

#main {
    margin: 0 auto;
    text-align: center;
}

#overview {
    display: flex;
    width: fit-content;
    max-height: calc(100vh - 200px);
    border-radius: 16px;
    margin: 0 auto;
    overflow: hidden;
}

#model {
    width: 80%;
}

#model,
#model img {
    max-height: 100%;
    max-width: 100%;
}

#menu {
    width: 20%;
}

#menu p {    
    font-size: 1.5em;
}

#options {
    padding-bottom: 3em;
    border-bottom: 1px solid #50BD05;
    margin-bottom: 3em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #50BD05;
}

input:focus+.slider {
    box-shadow: 0 0 1px #50BD05;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}