<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/styles.css" rel="stylesheet">
    <title>Просмотр участка</title>
  </head>
  <body>
    <header>
      <div id="logo"><img src="/res/pix/logo.png"></div>
      <div id="label">
        <h1>TRAFFIC EXPERT</h1>
      </div>
    </header>
    <div id="main">
      <div id="address">
        <h1>{{ address }}</h1>
      </div>
      <div id="model">{{ model }}</div>
    </div>
  </body>
</html>